<div class="registration__new__full">

<div class="video__area">
<%= video_tag("/videos/49053.mp4", autoplay: :true, loop: :true, muted: :true,class:"video") %>
</div>

<div class="registration__new__left">
<div class="registration__input__area">
<div class="registration__input__area__inner">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), id:'icon_edit',html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="registration__nickname__area">
    <div class='form-text-wrap'>
     Nickname <br> 
    <%= f.text_area :nickname, class:"input-default", id:"nickname", maxlength:"20" %>
     <div id="icon__edit__area"></div>
    </div>
  </div>

  <div class="registration__email__field">
    <%= f.label :email %><br/>
    <%= f.email_field :email,class:"email__filed", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="registration__password__name">
  <div class="password__label">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder:" 6 minimum",class:"password__name" %>
    </div>
    <div class="password__area">
    <%= f.label :Confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"confirmation__name" %>
    </div>
  </div>

  

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Profile</label>
    </div>
    <%= f.text_area :profile, class:"profile__input", placeholder:
"200文字で自己紹介
■■ おすすめの旅行先

■■ 今後行きたい旅

■■ tabiiiの仲間へひとこと!!", maxlength:"200" %>
  </div>

  <div class="icon__area">
   <%#= f.file_field :profile_image, id:"item-image" %>
  </div>

    <div class="field">
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>
<%= link_to "Back", :back %>
</div>
</div>
</div>
<div class="registration__new__right">

</div>
</div>
