<%= render "shared/header" %>
<%= form_with model: @user, local: true do |f| %>
    

      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

       <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Profile</label>
      <span class="indispensable">must</span>
    </div>
    <%= f.text_area :profile, class:"input-default", placeholder:"例) furima太郎", maxlength:"1000" %>
  </div>

      <div class="icon__area">
      <%= f.file_field :profile_image, id:"item-image" %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      
    <% end %>

 <%= link_to "チャットページに戻る", :back, class: 'btn'%>