<div class="registration__new__full">

<div class="video__area">
<%= video_tag("/videos/49053.mp4", autoplay: :true, loop: :true, muted: :true,class:"video") %>
</div>

<div class="registration__new__left">
<div class="registration__input__area">
<div class="registration__input__area__inner">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
</div>
<div class="registration__new__right">

</div>
</div>
