<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%#= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
     <%#= image_tag "search.png", class:"search-icon" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'TabiJiii', root_path, class: "category-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <% if current_user.image.url.present? %>
        <li><div class="icon_image__area"><img src=<%= current_user.image.url %> class = "icon_image"></div></li>
      <% end %>
        <li><%= link_to current_user.nickname, user_path(@user), class: "user-nickname" %></li> 
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'Join us', new_user_registration_path, class: "sign-up" %></li>
      <% end %> 
    </ul>
  </div>
</header>