

<%#以下コピペ%>
<div class="registration__new__full">

<div class="video__area">
<%= video_tag("/videos/49053.mp4", autoplay: :true, loop: :true, muted: :true,class:"video") %>
</div>

<div class="registration__new__left">
<div class="registration__input__area">
<div class="registration__input__area__inner">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="registration__email__field">
    <%= f.label :email %><br/>
    <%= f.email_field :email,class:"email__filed", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="registration__password__name">
    <div class="password__label">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "new-password", placeholder:" 6 minimum",class:"password__name" %>
    </div>
  </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

</div>
</div>
</div>
<div class="registration__new__right">

</div>
</div>
