<%= render "shared/otherheader" %>
<h2>カテゴリー <%= @province.name %></h2>
<h2>投稿件数:<%= @province_num %>件</h2>
<% unless @posts.present? %>
  <h2>まだ投稿はありません</h2>
<% end %>
  <ul>
    <% @posts.each do |post| %>
  <li class="image">
   <%= link_to post_path(post.id)  do %>
  <%= post.title %><br>
  <%= image_tag post.image , class:"item-img" %><br>  
  <% end %>
  <%= l post.created_at %><br>
  <%= post.province.name%><br>
  <span>Photo By</span><%= link_to "#{post.user.nickname}", user_path(post.user_id) %><br>
      </li>
    <% end %>
  </ul>
</div>
 <%= link_to "メインページに戻る", root_path, class: 'btn'%>
<%= render "shared/footer" %>