<%= render "shared/otherheader" %>
<div class="new__post__header">
</div>

<div class="post__new__main">
<div class="flex">
<div class="post__new__left">
<div class="post____left__area__inner">
      <div class="fix">
      <% if current_user.profile_image.url.present? %>
        <img src=<%= current_user.profile_image.url %> class = "profile__image"><%end%><div class="user__show__nickname"><%= "#{current_user.nickname}" %></div><br>
        <p>profile</p>
         <div class="user__show__profile"><%= current_user.profile %></div><br>
    </div>
    </div>
</div>

 <div class="post__new__right">
 <div class="post__new__right__inner">
 <%= form_with model: @post,id:'new_post' ,local: true do |f| %>
<%= f.text_area :title,class:"new__post__title", placeholder:"20文字もタイトルをつけよう!!", maxlength:"20" %><br>
 <%= f.file_field :image, id:"item-image" %><br>
 <div id="previews"></div><br>
<%= f.text_area :content, placeholder:"400文字で旅の紹介をしよう!!
■■ 今回の旅行の目的は？


■■ 何が楽しかった？


■■ おすすめの場所はどこかな？


■■ 旅先で何かハプニングはあったかな？" ,maxlength:"400",id:"count_text",class:"new__post__content" %><div id="count_number"></div><br>
        
          <span class="indispensable">今回の旅行先</span>
        <%= f.collection_select(:province_id, Province.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
        
        <%= f.label :address, '住所'%>
        <%= f.text_field :address %>

      <%= f.submit "Post" ,class:"sell-btn" %>
  <% end %>


 <%= link_to "メインページに戻る", root_path, class: 'btn'%>
 </div>
 </div>
 </div>
 </div>

<%= render "shared/footer" %>