<%= render "shared/header" %>
<div class="post__new__main">
<div claas="post__area">
<%= form_with model: @post, local: true do |f| %>
 <%= f.file_field :image, id:"item-image" %>
<%= f.text_area :title, placeholder:"Title", maxlength:"40" %>
<%= f.text_area :content, placeholder:"" ,rows:"7" ,maxlength:"1000" %>
<div class="weight-bold-text">
        
          <span class="indispensable">今回の旅行先</span>
        </div>
        <%= f.collection_select(:province_id, Province.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
        <div class="sell-btn-contents">
      <%= f.submit "Post" ,class:"sell-btn" %>
      <%=link_to 'back', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>
</div>
</div>
<%= render "shared/footer" %>