<%= render "shared/header" %>
<div class="show__main">
<div class="show__contents__area">
<div class="show__title">
 <%= @post.title %><br>
 </div>
 
 <div class="show__image">
 <%= image_tag @post.image , class:"show__item-img" %><br>
 </div>
 <div class="show__nickname">
 <%= @post.user.nickname %><br>
 </div>
 <%= @post.content%><br>
 <%= @post.province.name %><br>
 <%#コメント一覧表示%>
 <% if current_user.id == @post.user.id && user_signed_in? %>
 <%= link_to "edit", edit_post_path(@post) , method: :get %>
 <%= link_to "delete", post_path(@post), method: :delete %>
  <%= render 'chats/chat_post' %>
  <%= link_to new_post_chat_path(@post.id), class:"post_button" do %>
  <div claas="new__comment__path">コメントする</div>
  <% end %>
 <% else %>
  <%= render 'chats/chat_post' %>
 <% end %>
 <%#=コメント機能%>
   <%= render 'chats/chat_index' %>
 </div>
 </div>
<%= render "shared/footer" %>