<%= render "shared/header" %>
<div class="show__main">
<div class="show__contents__area">
<div class="show__title">
 <%= @post.title %><br>
 </div>
 
 <div class="show__image">
 <%= image_tag @post.image , class:"show__item-img" %><br>
 </div>
 <div class="show__nickname">
 <%= @post.user.nickname %><br>
 </div>
 <%= @post.content%><br>
  <% if @post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(@post), method: :delete, class: "favorite_btn" do %>
     ♥<%= @post.favorites.count %> いいね
    <% end %>
    <% else %>
     <%= link_to post_favorites_path(@post), method: :post, class: "favorite_btn" do %>
      ♡<%= @post.favorites.count %> いいね
     <% end %>
    <% end %>
 <%= @post.province.name %><div>ここに、天気APIをのせる。</div><br>
 <% if current_user.id == @post.user.id && user_signed_in? %>
 <%= link_to "edit", edit_post_path(@post) , method: :get %>
 <%= link_to "delete", post_path(@post), method: :delete %>
  <%= render 'comments/chat_post' %><br>
 <% else %>
  <%= render 'comments/chat_post' %><br>
 <% end %>
 <div id="list">
</div>
   <% @post.comments.sort.reverse.each do |comments| %>
    <div class="post__chats">
    <div class="post__time">
    <%= l comments.created_at %><br>
    </div>
    <div class="post__chat">
   <%= comments.chat %><br>
   </div>
   <div class="post__chat__name">by<%= comments.user.nickname %></div><br>
   <% if current_user.id == comments.user_id%>
   <div class="chat__edit"><%= link_to 'chat edit', edit_post_comment_path(comments.id) %></div>
   <div class="chat__destroy"><%= link_to 'chat delete',  post_comment_path(comments.id), method: :delete %></div><br>
   <% end %>
   </div>
   <% end %>
 </div>
 </div>
 <%= link_to "メインページに戻る", root_path, class: 'btn'%>

<%= render "shared/footer" %>