<%= render "shared/otherheader" %>
<div class="new__post__header">
</div>
<div class="show__main">
<div class="post__show__left">
<div class="post__show__left__inner">
 <%= link_to user_path(@post.user.id) do%>
 <% if @post.user.profile_image.present? %>
<img src=<%= @post.user.profile_image.url %> class = "profile__image">
<% end %>
<div class="user__show__nickname"><%= "#{@post.user.nickname}" %></div><br>
        <p>profile</p>
         <div class="user__show__profile"><%= @post.user.profile %></div><br>
        <% end %>
            

</div>
</div>
<div class="post__show__right">
<div class="show__contents__area">
<div class="show__title">
 <%= @post.title %><br>
 </div>
 
 <div class="show__image">

 <%= image_tag @post.image , class:"show__item-img" %><br>

 </div>
 <div class="show__nickname">
 <%= @post.user.nickname %><br>
 </div>
 <%= @post.content%><br>
  <% if @post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(@post), method: :delete, class: "favorite_btn" do %>
     ♥<%= @post.favorites.count %> 
    <% end %>
    <% else %>
     <%= link_to post_favorites_path(@post), method: :post, class: "favorite_btn" do %>
      ♡<%= @post.favorites.count %> 
     <% end %>
    <% end %>
 <%= @post.province.name %><br>
 <% if @post.address.present? && @post.latitude.present? && @post.longitude.present? %>
 <div class="map__area">
 <div class="map__introduce">おすすめの目的地</div>
 <div id="map"></div>
 </div>
 <script>
  let map
  function initMap() {
    geocoder = new google.maps.Geocoder()
    var test ={lat:<%= @post.latitude %>, lng:<%= @post.longitude %>};

    map = new google.maps.Map(document.getElementById('map'),{
      center: test,
      zoom: 15,
      mapTypeControl: false,
      streetViewControl: false
    });
    
    var contentString = '住所: <%= @post.address %>';
    var infoWindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position: test,
      map: map,
      title: contentString
    });
  }
 </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_API_KYE"] %>&callback=initMap"></script>
<% end %>

 <% if current_user.id == @post.user.id && user_signed_in? %>
 <%= link_to "edit", edit_post_path(@post) , method: :get %>
 <%= link_to "delete", post_path(@post),id: "post__destroy", method: :delete %><br>
  <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
      <%= f.text_area :chat , class: "comment-text"%>
      <%= f.submit "コメントをする", class: "comment-submit" %><br>
    <% end %>
 <% else %>
    <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
      <%= f.text_area :chat , class: "comment-text"%>
      <%= f.submit "コメントをする", class: "comment-submit" %><br>
    <% end %>
 <% end %>
<div class="post__comments">
<div id="comments">
  <h4>＜コメント一覧＞</h4>
  <ul>
    <% @post.comments.each do |comment| %>
    <li class="post__comments">
      <div class="comment">
        <p class="user-info"><%= comment.user.nickname %>: </p>
        <p><%= comment.chat%></p>
      </div>
      </li>
    <% end %>
    </ul>
</div>
</div>
 </div>
 </div>
 </div>
 <%= link_to "メインページに戻る", root_path, class: 'btn'%>

<%= render "shared/footer" %>