<%= render "shared/header" %>
<div class="show__main">
<div class="show__contents__area">
<div class="show__title">
 <%= @post.title %><br>
 </div>
 
 <div class="show__image">
 <%= image_tag @post.image , class:"show__item-img" %><br>
 </div>
 <div class="show__nickname">
 <%= @post.user.nickname %><br>
 </div>
 <%= @post.content%><br>
 <%= @post.province.name %><div>ここに、天気APIをのせる。</div><br>
 <% if current_user.id == @post.user.id && user_signed_in? %>
 <%= link_to "edit", edit_post_path(@post) , method: :get %>
 <%= link_to "delete", post_path(@post), method: :delete %>
  <%= render 'comments/chat_post' %><br>
 <% else %>
  <%= render 'comments/chat_post' %><br>
 <% end %>
 <%#=コメント機能%>
   <% @post.comments.each do |comments| %>
    <%= l comments.created_at %><br>
   <%= comments.chat %><br>
   <div class="user__chat">by<%= comments.user.nickname %></div><br>
   <% if current_user.id == comments.user_id%>
   <div class="chat__edit"><%= link_to 'chat edit', edit_post_comment_path(comments.id) %></div>
   <div class="chat__destroy"><%= link_to 'chat delete',  post_comment_path(comments.id), method: :delete %></div><br>
   <% end %>
   <% end %>
 </div>
 </div>
 <%= link_to "チャットページに戻る", :back, class: 'btn'%>

<%= render "shared/footer" %>